.movie_card {
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.movie_card .content {
  padding: 8px;
}

.movie_card img {
  display: block;
  max-width: 100%;
}

.movie_card .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.movie_card .descr {
  margin-bottom: 0;
  line-height: 1.5;
}

.movie_card:hover {
  transform: scale(1.02, 1.02);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
