.input {
  color: #171718;
  font-size: 16px;
  min-height: 34px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgb(179, 179, 179);
  width: 98.5%;
  margin: 35px 0;
  outline: 0;
}

.input:focus {
  border-width: 1px;
  border: 1px dotted;
  border-color: rgb(255, 38, 237);
  /* transition: border-color 200ms ease-in-out; */
}
